header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
}
header h2 a {
    text-decoration: none;
    color: blue;
}
header h2 a:hover {
    color: purple;
}
main{
    margin: auto;
    text-align: center;
    width: 60%;
}
main div h1{
    font-size: 62px;
}
main .intro{
    font-size: 38px;
}
main button{
    font-size: 35px;
    padding: 10px;
    background: darkblue;
    color: white;
    border-radius: 15px;
}
main .answer{
    display: block;
    text-align: left;
    width: 35%;
}
main button:hover{
    background: darkmagenta;
}
#submit-button, #skip-button, #back-button, #clear-button{
    margin: 0px 10px;
}
footer{
    width: 60%;
    text-align: left;
    margin: 10px auto;
}
footer p{
    border-top: lightgray solid 1px;
    margin-top: 5px;
    font-size: 35px;
    color: gray;
}
.hidden{
    display: none;
}
main .hidden {
    display: none;
}